<header id='nav' role='banner'>
  <div id='nav-wrapper'>
    <a href='{{ site.baseurl }}/' id='mobile-logo'>
      <img src='{{ site.baseurl }}/images/logo.png' alt='Logo'>
    </a>
    <i id='nav-mobile-menu' onclick='toggle("nav-menu", "show")'>MENU</i>
    <nav role='navigation'>
      <ul id='nav-menu'>
        <li class='nav-link logo'>
          <a href='{{ site.baseurl }}/' class='logo'>
            <img src='{{ site.baseurl }}/images/logo.png' alt='Logo'>
              Electric HoneyBee Studios
            </a>
          </li>
          <li class='nav-link'>
              <a href='{{ site.baseurl }}/about'>About EBS</a>
          </li>
          <li class='nav-link'>
            <a href='{{ site.baseurl }}/interests'>Interests</a>
          </li>
          <li class='nav-link'>
            <a href='{{ site.baseurl }}/blog'>The Buzz</a>
          </li>
<br>
              <li class='nav-link'>
                  <a href="https://keybase.io/starscape" class="pull-right btn-social btn-outline" style="padding-right:70px;"><i class="fa fa-fw fa-facebook fa-2x"></i></a></li>
              </li>
              <li class='nav-link'>
                  <a href="https://plus.google.com/u/2/104025202368349609840" class=" pull-right btn-social btn-outline" style="padding-left:70px; padding-right: 70px;"><i class="fa fa-fw fa-google-plus fa-2x"></i></a></li>
              </li>
              <li class='nav-link'>
                  <a href="https://www.instagram.com/electrichoneybeestudio/?hl=en" class=" pull-right btn-social btn-outline"style="padding-left: 50px;"><i class="fa fa-fw fa-instagram fa-2x"></i></a></li>
              </li>


        </ul>
    </nav>
  </div>
</header>
